// Default variables: https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: #dc477d;
@layout-header-background: #244764;
@layout-trigger-background: #1d3f5a;
