@import '~antd/dist/antd.less';
@import './styles/antd.customize.less';

.App-link {
  color: #61dafb;
}

#crane .logo {
  height: 32px;
  margin: 16px;
  background: url('images/logo.png');
  background-size: auto 32px;
  background-repeat: no-repeat;
  background-position: 10px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.site-layout-background {
  min-height: 360px;
  padding: 24px;
}
